body{
    width: 100%;
    height: 100%;
    background-color:rgb(223, 244, 255) ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 1140px;
    height: 100vh;
    margin: 0 auto;
    background-color: black;
}