:root{
 --btnCOlor: #00BF63;
 ---Vert: #0039bf;
---bg: #ECFDFF;
/* Debut Accueil page css*/
/* ---bg: black; */
}

/* a,
h1,h2,h3,h4,h5,h6,p{
    color: #ffffff;
}
li a {
    color: white;
}
li{
    border-color: white;
} */

body{
    background-color:var(---bg) ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sansita', sans-serif;
}
main{
    width: 1140px;
    margin: 0 auto;
    font-family: 'Sansita', sans-serif;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    

}
.logo{
    width: 100px;
    height: 50px;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.menu ul li{
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    border-radius: 20px;
    border: 1px solid black;
}
.menu ul li:hover{
    background-color: var(--btnCOlor);
}

a:hover{
    color: white;
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.logoIco{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.search .icon{
    height: 20px;
    min-width: 40px;
    position: absolute;
    padding: 10px;
    min-width: 40px;
    
}
.search input {
    width: 100%;
    padding: 5px;
    width: 15rem;
    height: 1.5rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
}
.Icolo{
    position: relative;
}
.log{
    display: none;
    position: absolute;
    right: 20px;
}
/* .log ul {
   
    background-color:var(--btnCOlor) ;
} */
.log ul li {
    padding: 1rem 2rem;
    border: 1px dashed grey;
    background-color:rgb(123, 231, 172);
    color: white;
}
.Icolo:hover > .log{
    display: block;
    
}
.vue{
    width: 100%;
    display: flex;
}
.vue1{
    width: 60%;
    height: 20rem;
    border-radius: 15px;
    background-image: url("../image/bg.jpg");
    background-size: cover;
}
.vue1 h1{
    font-size: 4rem;
    text-align: center;
    color: white;
}
.vue2{
    width: 40%;
    margin: 0 20px  auto;

}
.vue2  p {
    text-align: center;
    font-size: 1.5rem;
}
.titre{
    font-size: 3rem;
}
.blocIcon{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.blocIcon i {
    width: 60px;
    height: 60px;
    background-color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: var(---Vert);
    border: 1px solid black;
}
.para{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.para p{
    width: 500px;
    font-size: 1.2rem;
}
.para button{
    width: 12rem;
    height: 3rem;
    border: none;
    background-color: var(--btnCOlor);
    color: white;
    border-radius: 20px;
}
.videoCar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}
.card{
    width: 15rem;
    height:15rem;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.titleList{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.newC{
    width: 35px;
    height: 20px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: var(---bg);
    border: 1px solid black;

}
.blocVi{
   width: 12rem;
   height: 10rem;
   display: inline-block;
}
.play{
    display: block;
    position: absolute;
    top: 120px;
    left: 100px;

}
.play i{
    color: white;
    font-size: 3rem;
}
.imgV{
    width: 100%;
    height: 100%;
}
.voir{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.voir .btnPlus{
    width: 7rem;
    height: 2rem;
    background-color: var(--btnCOlor);
    color: white;
    border: none;
}
.listMusic{
    width: 100%;

}
.listM{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.cardMusic{
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: rgba(41, 105, 255, 0.3) 0px 0px 0px 3px;
    border-radius: 5px;
    margin-bottom: 20px;

}
.cardArt{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.cardArt:hover {
    background-color: var(---Vert);
}
.cardArt img{
   width:50px;
   height: 50px;
   border-radius: 100%;
}
.voir1{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.voir1 .btnPlus{
    width: 7rem;
    height: 2rem;
    background-color: var(--btnCOlor);
    color: white;
    border: none;
}
.apropos{
    width: 100%;
    display: flex;
    align-items: center;
}
.allStr{
    width: 20%;
   
}
 .allStr h1{
        font-size: 5rem;
    }
.cardApro{
    width: 80%;
}
.AproV{
    width: 40rem;
    height: 20rem;
    margin: 0 auto;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(58, 233, 146, 0.4) 5px 5px, rgba(83, 219, 151, 0.3) 10px 10px, rgba(87, 229, 177, 0.2) 15px 15px, rgba(75, 207, 165, 0.1) 20px 20px, rgba(60, 217, 167, 0.05) 25px 25px;
}
.AproV p, .AproV h2{
    color: white;
    display: inline-block;
}
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.contactCard{
    width: 40rem;
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.481);
    text-align: center;
    color: white;
    border-radius: 20px;
}
.input-field{
    display: block;
}
.input-field input{
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}
.input-glo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.input-field label{
    margin-bottom: 20px;
}
.input-field textarea{
    width: 19rem;
    height: 10rem;
    border-radius: 5px;
    border: none;
    margin-top: 10px;

}
.btnSugg button{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius:5px;
    background-color: var(--btnCOlor);

}
footer{
    width: 100%;
    height: 4rem;
    background-color: rgb(255, 255, 255);
}
.foot{
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: 100%;
    text-align: center;
}
/* Fin Accueil page css*/

/* Debut Login page css*/
.content-login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.centered{
    width: 30rem;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.centered img{
    width: 10rem;
    height: 5rem;
    margin-bottom: 20px;
}
.centered input{
    width: 17rem;
    height: 2rem;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 0.1rem solid gray;
}
.centered input::placeholder{
    text-align: center;
}
.link-d{
    margin-bottom: 20px;
}
.link-d a{
    color: black;
    margin-right: 20px;
   
}
.link-d a:hover{
    color: black;
   
}
.btnLog button{
    width: 10rem;
    height: 2.5rem;
    background-color: var(---Vert);
    border: none;
    color: white;
    border-radius: 5px;
}
.centeredCreate{
    width: 30rem;
    height: 35rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.centeredCreate img{
    width: 10rem;
    height: 5rem;
    margin-bottom: 10px;
}
.centeredCreate input{
    width: 17rem;
    height: 2rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0.1rem solid gray;
}
.centeredCreate input::placeholder{
    text-align: center;
}
/* Fin Login page css*/
@media screen and (max-width: 1140px) {
    /* Debut Accueil page css*/
    main{
        width: 100%;
    }
    header{
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
   
    
    .menu{
        display: block;
        position: absolute;
        top: 60px;
       
    }
    .menu ul{
        display: block;
    }
  
    /* .search{
        display: none;
    } */
   
    .menu ul li{
        margin-bottom: 20px;
    }
    .logo:hover .menu{
        display: block;
    }
    .vue{
        margin-top: 12rem;
        width: 100%;
        display: block;
    }
    .vue1{
        width: 100%;
    }
    .vue2{
        width: 100%;
        margin: auto;
    }
    .vue2  p {
        text-align: center;
        font-size: 1.2rem;
    }
    .titre{
        font-size: 3rem;
        text-align: center;
    }
    .para{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .para p{
        width: 100%;
        font-size: 1.2rem;
        display: inline-block;
    }
    .listVideo h1{
        text-align: center;
    }
    .cardMusic{
        display: inline-block;
    }
    .listM{
        width: 100%;
        margin-bottom: 20px;
    }
    .voir1{
        width: 100%;
    }
    .cardArt{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.apropos{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.cardApro{
    width: 100%;
}
.allStr{
    width: 100%;
   
}
.AproV{
    width: 100%;
    height: 20rem;
 }
.allStr h1{
    text-align: center;
}
.listMusic h1{
    text-align: center;
}
/* Fin Accueil page css*/
   
}