:root{
    --btnCOlor: #00BF63;
    ---Vert: #0F056B;
   ---bg: #ECFDFF;
   /* Debut Accueil page css*/
   /* ---bg: black; */
   }
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, tr, th, td, pre {
    margin: 0;
    padding: 0;
}
.active {
    background-color: #0F056B;
}
header {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    height: 62px;
    width: 100%;
    background-color: var(---bg);
    transition: background-color .3s;
}
header .logo {
    position: absolute;
    top: 1px;
    left: 0;
    width: 220px;
    height: 100%;
    /* background: #0d0d0d url(../../bp_logo-YXOZPU2J.svg) no-repeat 20px 16px; */
    /* background-size: auto 31px; */
}
header .userLog {
    float: right;
    display: inline;
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-right: 30px;
    text-align: center;
    border-radius: 100px;
}
.vlist{
    width:9.375rem;
} 
.mList{
    width:9.375rem;
}
.music .heade .logos{
    width: 100px;
    height: 50px;

}
.userLog{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.sidebar {
    position: absolute;
    left: 0;
    top: 62px;
    width: 150px;
    background-color: #0d0d0d;
    -ms-overflow-style: none;
    height: calc(100% - 62px);
}
.main {
    position: absolute;
    left: 150px;
    width: calc(100% - 150px);
    top: 62px;
    height: calc(100% - 62px);
    background-image: url('../image/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -ms-overflow-style: none;
    display: flex;
}
.scrollView {
    position: relative;
    height: 100%;
    width: calc(100% - 150px);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
nav ul li {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    padding: 1rem 0;    
    
}
li {
   list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
li i{
    font-size: 20px;
    color: var(--btnCOlor);
    margin-right: 20px;
}
ul{
    width: 100%;
    height: 20rem;
    background-color: #00BF63;

}

nav ul li:hover {
    background-color: var(---Vert);   
    
}
.audio-player{
   width: 70%;
   height: 90vh;
}

.artiste-list{
    width: 30%;
    height: 90vh;
    

}
.blocActist{
    text-align: center;
    background-color: #aaaaaa49;
    padding:.8rem;
    height: 80vh;
}
.player h5{
    margin-top: 20px;
    color:white;
    text-align: center;
    
   
}
.plays{
    width: 400px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
}
.v-ftre{
    margin-top: 20px;
}
.plays-video{
    width: 400px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    
}
video{
    position: fixed;
    z-index: 2 ;
}
.plays img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}
.filtreMusic{
    display: flex;
    justify-content: space-around;
}
.search{
    position: relative;
}
.search .icon{
    height: 20px;
    width:20px;
    position: absolute;
    padding: 5px;
    
}
.search input {
    width: 100%;
    padding: 5px;
    width: 15rem;
    height: 1rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
}
.filters{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:  1px solid white;
    border-radius: 100%;
}
.filters i, p{
    color: white;
}
.ListeAudio{
    padding: 10px;
    background-color: #aaaaaa15;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
.ListeVideo{
    padding: 10px;
    background-color: #aaaaaa15;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

table.blueTable {
    border: 0px solid #1C6EA4;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    position: relative;
  }
  table.blueTable td, table.blueTable th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  thead{
    position: sticky;
    top: 0;
  }
  th {
    position: sticky;
    top: 0;
}
  tbody{
    width: 100%;
   
  }
  table.blueTable tbody td {

    font-size: 13px;
    color: white;
  }
  table.blueTable thead {
    }
  table.blueTable thead th {
    font-size: 20px;
    font-weight: bold;
    color: rgb(52, 230, 64);
  }
  table.blueTable tfoot {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
  }
  table.blueTable tfoot td {
    font-size: 16px;
  }
  .arti{
    display: flex;
    align-items: center;
  }
  .arti img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 100%;
  }
  .searchFil{
    position: relative;
}
.searchFil .icon{
    height: 20px;
    width:20px;
    position: absolute;
    padding: 5px;
    
}
.searchFil input {
    padding: 5px;
    width: 12rem;
    height: 1rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
}
.filterStar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
    
}
.filt1{
    width: 5rem;
    height: 2rem;
    background-color: #aaaaaa3b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
.cardsStarlist{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
}
.imgName{
    display: flex;
    align-items: center;
}

.imgName img{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;
}
.cardsStarlist button{
    width: 8rem;
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #AAAAAA;
}
.linkKiff .activeBtn{
    width: 7rem;
    height: 1.5rem;
    background-color: #5ff585a8;
    border-radius: 5px;
    border: none;
    color: white;
}
.linkKiff button{
    border: none;
    background-color: white;
}
.linkKiff {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
footer{
    position: absolute;
    left: 150px;
    width: calc(100% - 150px);
    bottom: 0;
    height: 50px;
    background-color: rgb(255, 255, 255);
}
.foot{
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.foot p {
    margin-right: 20px;
    color: black;
}
::-webkit-scrollbar { 
    width: 5px; /* Largeur de la scrollbar */ 
  } 
   
::-webkit-scrollbar-thumb { 
    background-color: #1ee360; /* Couleur de la poignée de la scrollbar */ 
    border-radius: 6px; /* Bordure arrondie de la poignée */ 
  }

@media screen and (max-width: 1000px) {
    .sidebar {
        position: absolute;
        left: 0;
        top: 62px;
        width: 80px;
        background-color: #0d0d0d;
        -ms-overflow-style: none;
        height: calc(100% - 62px);
    }
    .sidebar nav ul li span{
        display: none;
    }
    li i{
        font-size: 20px;
        color:white;
        margin-right: 20px;
    }
    nav {
        text-align: center;
    }
    nav ul{
        display: inline-block;
    }
    .main {
        position: absolute;
        left: 80px;
        width: calc(100% - 80px);
        top: 62px;
        height: calc(100% - 62px);
        background-image: url('../image/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        -ms-overflow-style: none;
        display: flex;
    }
    footer{
        position: absolute;
        left: 80px;
        width: calc(100% - 80px);
        bottom: 0;
        height: 50px;
        background-color: rgb(255, 255, 255);
    }

    .search{
        position: relative;
    }
    .search .icon{
        height: 20px;
        width:20px;
        position: absolute;
        padding: 5px;
        
    }
    .search input {
        width: 100%;
        padding: 5px;
        width: 12rem;
        height: 1rem;
        text-align: center;
        border: 1px solid grey;
        border-radius: 20px;
    }
    .searchFil{
        position: relative;
    }
    .searchFil .icon{
        height: 20px;
        width:20px;
        position: absolute;
        padding: 5px;
        
    }
    .searchFil input {
        padding: 5px;
        width: 8rem;
        height: 1rem;
        text-align: center;
        border: 1px solid grey;
        border-radius: 20px;
    }
    .cardsStarlist button{
        width: 4rem;
        height: 1.5rem;
        font-size: .5rem;
        border: none;
        border-radius: 5px;
        background-color: #AAAAAA;
    }
    .ListeAudio {
        padding: 10px;
        background-color: #aaaaaa15;
        height: 70vh;
        overflow: hidden;
        overflow-y: scroll;
    }
    .blocActist {
        text-align: center;
        background-color: #aaaaaa49;
        height: 90vh;
        padding: 0.8rem;
    }
    .linkKiff .activeBtn {
        width: 4rem;
        height: 1.5rem;
        background-color: #5ff585a8;
        border-radius: 5px;
        border: none;
        color: white;
        
    }
    .linkKiff button{
        font-size: .8rem;
    }
}

@media screen  and (max-width: 800px){
   body{
        font-size: .8rem;
   }
   .filt1 {
    width: 5rem;
    height: 2rem;
    background-color: #aaaaaa3b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
}
.ListeVideo{
    padding: 10px;
    background-color: #aaaaaa15;
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
}
.filterStar {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.filt1 i{
    font-size: .5rem;
}
.cardsStarlist button {
    width: 2.5rem;
    height: 1.5rem;
    font-size: .5rem;
    border: none;
    border-radius: 5px;
    background-color: #AAAAAA;
}
audio {
    width:15rem;
    height: 54px;
}
.search input {
    padding: 5px;
    width: 8rem;
    height: 1rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
}
}
@media screen  and (max-width: 450px){
   
    header {
        z-index: 20;
        position: sticky;
        left: 0;
        top: 0;
        height: 62px;
        width: 100%;
        background-color: var(---bg);
        transition: background-color .3s;
    }
    .filt1 {
     width: 5rem;
     height: 2rem;
     background-color: #aaaaaa3b;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     margin-bottom: 20px;
 }
 .filterStar {
     display: flex;
     justify-content:center;
     align-items: center;
     flex-direction: column;
     margin-top: 10px;
 }
 .filt1 i{
     font-size: .5rem;
 }
 .cardsStarlist button {
     width: 2.5rem;
     height: 1.5rem;
     font-size: .5rem;
     border: none;
     border-radius: 5px;
     background-color: #AAAAAA;
 }
 audio {
    width: 10rem;
    height: 42px;
}
 .search input {
     padding: 5px;
     width: 8rem;
     height: 1rem;
     text-align: center;
     border: 1px solid grey;
     border-radius: 20px;
 }

.audio-player {
    width: 100%;
    height: 80vh;
    text-align: center;
}
.artiste-list {
    width: 100%;
    height: 70vh;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 62px;
    width: 50px;
    background-color: #0d0d0d;
    -ms-overflow-style: none;
    height: calc(100% - 62px);
}
.main {
    position: absolute;
    left: 50px;
    width: calc(100% - 50px);
    top: 0px;
    height: calc(100% - 62px);
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-overflow-style: none;
    display: block;
}
.scrollView {
    position: relative;
    height: 100%;
    width: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
nav {
    position: sticky;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    position: sticky;
    left: 50px;
    width: calc(100% - 50px);
    bottom: 0;
    height: 50px;
    background-color: rgb(255, 255, 255);
}
.plays {
    width:100%;
    height: 100px;
    display: inline-block;
    margin: 0 auto;
    padding-top: 10px;
}
.player h5{
    margin-top: 20px;
    color:white;
    text-align: center;
    
   
}
.player{
    text-align: center;
    margin-bottom: 20px;
}
.blocActist {
    text-align: center;
    background-color: #aaaaaa49;
    height: 100%;
    padding: 0.8rem;
}
 }
 